@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  /* font-family: "Noto Sans", sans-serif; */
  transition: all 0.3s ease;
}

:root {
  --primary_color: #e95a08;
  --text_primary: #000000;
  --content_text: #00000080;
  --btn_text: #ffffff;
}

body {
  background-color: #f5f8ff;
}
/* ! Header Section */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto 0;
  padding: 0 2%;
  max-width: 1440px;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  list-style: none;
  color: var(--content_text);
}

.balance,
nav ul li {
  padding: 15px 30px;
  border-radius: 10px;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.05);
}

nav ul li:hover,
.balance:hover {
  background-color: #00000017;
  cursor: pointer;
  transform: scale(1.05);
}

nav ul li:first-child {
  color: var(--text_primary);
  font-weight: 700;
  background-color: var(--primary_color);
}

.balance {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text_primary);
}

.balance img {
  width: 25px;
}

/* ! Hero Section */

.hero {
  max-width: 1440px;
  margin: 120px auto 0;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_title,
.hero_img {
  width: 50%;
}

.hero_img img {
  width: 100%;
  display: block;
}

.hero_title h1 {
  font-size: 65px;
  font-weight: 700;
  color: var(--text_primary);
  padding-bottom: 20px;
  font-family: 'Noto Serif', serif;
}

.hero_title h1 span {
  color: var(--primary_color);
}

.hero_title p {
  font-size: 24px;
  color: var(--content_text);
  text-align: justify;
  padding-right: 3%;
}

/* ! Our Plants Section */

.plants {
  margin: 120px auto 0;
  max-width: 1440px;
  padding: 0 2%;
  text-align: center;
}

.plants h1 {
  font-size: 65px;
  color: var(--text_primary);
  padding-bottom: 20px;
  font-family: 'Noto Serif', serif;
}
.plants span {
  color: var(--primary_color);
}

.plants p {
  font-size: 24px;
  color: var(--content_text);
  padding: 0 5%;
  margin-bottom: 50px;
}

.card_div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.card img {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.card .right:hover {
  transform: rotate(2deg);
  cursor: pointer;
}

.card .left:hover {
  transform: rotate(-2deg);
  cursor: pointer;
}

.card h3,
.card h4 {
  color: var(--text_primary);
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 500;
}

.card h4 {
  font-weight: 700;
}

.card button {
  width: 100%;
  padding: 10px 20px;
  background-color: var(--primary_color);
  border: 1px solid var(--primary_color);
  color: var(--btn_text);
}

.card button:hover {
  box-shadow: 5px 5px 5px 5px #ff5e0080;
  cursor: pointer;
  transform: scale(1.05);
}

/* ! Flower & Plants Lover Section */

.plants_lover {
  margin: 200px auto 0;
  max-width: 1440px;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  position: relative;
}

.plants_lover_img,
.plants_lover_text {
  width: 50%;
}

.plants_lover_img img {
  width: 100%;
  display: block;
}

.plants_lover_text h1 {
  font-size: 50px;
  font-weight: 700;
  font-family: 'Noto Serif', serif;
  margin-bottom: 20px;
  color: var(--text_primary);
}

.plants_lover_text ul li {
  color: var(--content_text);
  font-size: 24px;
  margin-bottom: 20px;
}

.badge {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 11%;
  left: 47%;
  transform: translate(-50%, -50%);
}

/* ! Latest  Deals Section */

.latest_deals {
  max-width: 1440px;
  margin: 120px auto 0;
  padding: 0 2%;
  text-align: center;
}

.latest_deals h1 {
  font-size: 50px;
  color: var(--text_primary);
  font-weight: 700;
  margin-bottom: 30px;
  font-family: 'Noto Serif', serif;
}

.latest_deals h1 span {
  color: var(--primary_color);
}

.latest_deals p {
  font-size: 22px;
  color: var(--content_text);
  padding: 0 9%;
  margin-bottom: 100px;
}

.offer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
}

.small-offer,
.big-offer {
  color: var(--btn_text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  text-shadow: 1px 1px 5px var(--text_primary);
}

.small-offer::before,
.big-offer::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
  border-radius: 15px;
}

.small-offer h3 {
  font-size: 25px;
  font-family: 'Noto Serif', serif;
}

.big-offer h2 {
  font-size: 40px;
  font-family: 'Noto Serif', serif;
}

.small-offer h3,
.big-offer h2,
.small-offer a,
.big-offer a {
  position: relative;
  z-index: 2;
}

.small-offer {
  height: 220px;
}

.big-offer {
  grid-row: span 2;
  height: 100%;
}

.small-offer:hover,
.big-offer:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.bloom {
  background-image: url('./assets/deal-bloom.png');
}

.zabo {
  background-image: url('./assets/deal-zabo.png');
}

.ana {
  background-image: url('./assets/deal-ana.png');
}

.offer-grid a {
  color: var(--btn_text);
  text-decoration: underline;
  font-weight: bold;
  margin-top: 10px;
  font-size: 18px;
  text-underline-offset: 5px;
}

/* ! Email Submit Section */

.email_submit{
  max-width: 2500px;
  margin: 120px auto 0;
  background-image: url(./assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.submit_box{
  max-width: 1440px;
  margin: 0 auto;
  padding: 120px 2%;
  text-align: center;
}

.submit_box h1{
  font-size: 50px;
  font-weight: 700;
  font-family: 'Noto Serif', serif;
  color: var(--btn_text);
  margin-bottom: 20px;
}

.submit_box form{
  display: flex;
  justify-content: center;
  gap: 0;
}

.email{
  width: 60%;
  padding: 15px;
  border: 1px solid var(--content_text);
}
.submit{
  padding: 15px 25px;
}

.email::placeholder{
  color: var(--content_text);
}

.email:hover{
  cursor: pointer;
  transform: scale(1.01);
}

.email:focus{
  border: 1px solid var(--content_text);
  outline: none;
}

.submit{
  background-color: var(--primary_color);
  border: 1px solid var(--primary_color);
  color: var(--btn_text);
}

.submit:hover{
  cursor: pointer;
  transform: scale(1.03);
}

/* ! Footer Section Start */

.footer{
  max-width: 1440px;
  margin: 60px auto;
  padding: 0 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--content_text);
  font-size: 20px;
  
}

.footer_discription p{
  margin-top: 20px;
  padding-right: 20px;
}

.footer_nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer ul li{
  list-style: none;
  margin-bottom: 25px;
  font-size: 16px;
}

.footer ul li:hover{
  cursor: pointer;
  transform: scale(1.02);
}

.social_img{
  text-align: center;
}

.footer_discription img:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.social_img img{
  display: inline-block;
  margin: 0 20px;
}

.social_img img:hover{
  cursor: pointer;
  transform: scale(1.1);
}


